<md-dialog aria-label="360 Images" style="max-width:500px; max-height:550px;top:50px;position:absolute;">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>360 Images</h2>
        <span flex></span>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content" ng-repeat="item in imageList" layout="row" flex="100">
        <a href="#" layout="column" ng-click="answer(item)" style="min-width: 300px;width: 300px;max-width: 300px;">{{item}}</a>
        <div class="thumbnail" layout="column">
            <img class="thumbnail" ng-src="https://iiif-staging02.lib.ncsu.edu/360/{{item}}">
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>