<!DOCTYPE html>
<html lang="en">
<html ng-app="360ViewsFramework">

   <head>
      <title>360 Views Framework</title>
      <link rel="stylesheet" href="/static/css/pannellum.css">
      <link rel="stylesheet" href="/static/css/app.css">

      <script src="https://code.jquery.com/jquery-1.8.2.min.js"></script>
      <script src="/static/bower_components/angular/angular.js"></script>
      <script src="/static/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
      <script src="/static/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
      <script src="/static/js/app.js"></script>
      <script src="/static/js/controllers/MainController.js"></script>
      <script src="/static/js/photosphere/three.min.js"></script>
      <script src="/static/js/photosphere/photosphere.js"></script>
      <script src="/static/js/pannellum/pannellum.js"></script>
   </head>

   <body>
      <h1 style="text-align: center">Wel-come to 360 Views Framework</h1>
      <div id="content" ui-view></div>
   </body>
</html>
</html>